html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input,
textarea,
blockquote {
    margin: 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border: 0 none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
li,
ol {
    list-style: none;
}

select,
input {
    vertical-align: middle;
}

textarea {
    resize: none;
}

img {
    border: 0 none;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: #666;
}

body {
    font-family: tahoma Arial, 宋体, sans-serif;
    font-size:12px;
}